.topbarAndNav {
  background-image: linear-gradient(180deg, #225a7a 0%, #6a7fc5 100%);
}
.container {
  /*max-width: 1300px;*/
}
.search-bar {
  min-width: 40em;
  padding-left: 5em;
}
.fa-2x {
  display: inline;
}
.navlink {
  color: white;
}
.navlink:hover {
  color: white;
}

.eshop {
  font-size: 1.5em;
}
.btn-search {
  background-color: #32aa8c;
  border-color: #32aa8c;
}
.btn-search:hover {
  background-color: #35947c;
  border-color: #35947c;
}

.container,
.topbar {
  padding-top: 5px !important;
  padding-bottom: 0px !important;
}
.topbaritem,
.topbaritem:hover {
  color: white;
  font-size: small;
}

.ul-inline li {
  display: inline;
}
ul {
  padding-left: 0px;
  margin-bottom: 3px;
}

.nav-container {
  padding-top: 0px !important;
}

.nav-item {
  padding-left: 1em;
}
