*{
    margin: 0px;
    padding : 0px;
}
.hieu .carousel-indicators li{
    width: 20%;
}

.hieu .info ul{
    list-style-type: none;
}

.hieu .info .danhgia i {
    color: orangered;
}

.hieu .rank i{
    color: rgb(255, 174, 0);
    font-size: 25px;
}

.hieu .rank{
    padding-top: 10px;
    padding-bottom: 10px;
}
.hieu .gia{
    background-color: #f88eb28f;
    border-radius:10px;
    height: 80px;
    width: 430px;
}

.ngoisaomayman {
    font-size: 20px;
    width: 40px!important;
}
 .ngoisao{
    color: orangered;
}
.hieu .soluong{
    width: 100px;
}

.hieu .shop h5{
    padding: 5px;
}

.hieu .shop .shopaction div{
    padding: 10px;
    border-radius: 6px;
    margin-right: 10px;
}

table td:nth-child(1){
    background-color: rgb(216, 216, 216);
    font-weight: bold;
}

table td{
    padding: 10px;
    border: groove 1px;
}

.sao .nhanxettrai .danhgia i{
    color: orangered;
}

.hieu .nhanxettrai {
    text-align: center;
}

.hieu .nhanxetphai .progress{
    margin-top: 7px;

}

.hieu .nhanxetphai{
    margin-left: 40px;
}


/* hieu ung cho model box */
.momoaoao {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    background: #2c05058a;
    transition: 0.3s;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    top: 0;
    left: 0;
  }
  .momoaoao.hienra {
    opacity: 1;
    visibility: visible;
  }
  
  .modal_box {
    width: 50%;
    max-width: 630px;
    min-width: 320px;
    height: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 10;
    font-size: 20px;
    visibility: hidden;
    transition: 0.3s;
  
  }
  
  .modal_content {
    display: inline-block;
    background-color: rgb(255, 255, 255);
    border-radius: 5px 5px;
    width: 100%;
    transition: 0.3s;
  }
  
  .modal_ef {
    perspective: 1300px;
  }
  .modal_ef .modal_content {
    opacity: 0;
    transform: rotateY(-70deg);
    transform-origin: 50% 0%;
    visibility: hidden;
  }
  
  
  .modal_show.modal_ef .modal_content {
    opacity: 1;
    transform: rotateY(0deg);
    visibility: visible;
    
  }